# Core NLP
spacy==3.8.3
en_core_web_md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.8.0/en_core_web_md-3.8.0-py3-none-any.whl

# Spell checking
symspellpy==6.7.7

# Negation detection
negspacy==1.0.4

# API
fastapi==0.109.2
uvicorn==0.29.0
pydantic==2.7.1

# Utilities
python-dotenv==1.0.1
loguru==0.7.2
