# Core NLP
spacy==3.7.5
en_core_web_md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1-py3-none-any.whl

# Spell checking
symspellpy==6.7.7

# Negation detection
negspacy==1.0.4

# API
fastapi==0.109.2
uvicorn==0.29.0
gunicorn==21.2.0
pydantic==2.7.1

# Utilities
python-dotenv==1.0.1
loguru==0.7.2
